<h2>Edit Food</h2>
<br>
<br>
<div id="edit_food">
<%= form_for @food, :url => manage_foods_url do |f| %>
  <table class="table">
    <tr>
      <td></td>
      <td><span class="span"> <%= image_tag @food.photo.url(:thumb) %> </span>
      </td>

    </tr>
    <tr>
    <td><%= ("Photo Food: ") %></td>
    <td><span class="span1">
     <%= f.file_field :photo %>
       </span>
         </td>
    </tr>
    <tr>
    <td><%= ("Food Name: ") %></td>
    <td><span class="span1">
      <%= f.text_field :name, required: true , type: "text" %>
      </span>
      <br>
    </td>
    </tr>

     <tr>
    <td><%= ("Price: ") %></td>
    <td><span class="span2">
      <%= f.text_field :price, required: true , type: "text"%>
      </span>
      <br>
    </td>
    </tr>

    <tr>
    <td><%= ("Short comment: ") %></td>
    <td><span class="span3">
      <%= f.text_area :short_comment , id: "short_comment" , placeholder: "short details" %>
      </span>
      <br>
    </td>
    </tr>

    <tr>
    <td><%= ("Description: ") %></td>
    <td><span class="span4">
      <%= f.text_area :description , id: "description" ,:rows => 10, placeholder: "Full description"%>
      </span>
      <br>
    </td>
    </tr>

    <tr>
    <td></td>
    <div><td><span class="span3">
      <%= f.submit "Create", class: "btn" %>
      </span>
    </td>
    </div>
    </tr>
  </table>
</div>
<% end -%>
<script type="text/javascript"> $('#description').each(function(i, elem) {$(elem).wysihtml5(); });</script>
