<div class="col-lg-6">
<div class="well">

<legend>Create a new menu</legend>
  <%= form_for @food, :url => manage_foods_url, html: {class: 'form-horizontal'} do |f| %>

    <div class="form-group">
      <%= f.label 'Name', class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_field :name, required: true, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
    <%= f.label 'Photo Food:' , class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.file_field :photo,   class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
    <%= f.label 'Category:' , class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <select id="food_category" name="food[category]" class="form-control">
          <%= options_for_select(Category.all.map{|c| [c.name, c.id]}) %>
        </select>
      </div>
    </div>

    <div class="form-group">
    <%= f.label 'Price:' , class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
      <%= f.text_field :price, required: true , type: "text" ,  class: "form-control"%>
      </div>
    </div>

    <div class="form-group">
    <%= f.label 'Short comment:' , class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_area :short_comment , id: "short_comment" , placeholder: "short details",  class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
    <%= f.label 'Description:' , class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_area :description , id: "description" ,:rows => 10, placeholder: "Full description" ,  class: "form-control"%>
      </div>
    </div>

    <div class="form-group">
      <a class="col-lg-2"> </a>
      <div class="col-lg-10">
        <%= f.submit "Create", class: "form-control" %>
      </div>
    </div>
  <% end -%>
</div>
</div>
