<div id="showall">
        <%= @food.name %>
        <%= image_tag @food.photo.url(:medium) %>


        Category:<%= @food.category.name %>
        Price: <%= @food.price %>

        <%= @food.description.html_safe %>
    </div>
