<tr>
  <td><%= user.id %></td>
  <td><%= user.email %></td>
  <td><%= user.created_at.localtime.rfc822 %></td>
  <td><%= link_to "View", manage_user_path(user), :class => "btn btn-default", :method => :get  %>
      <%= link_to "Edit", edit_manage_user_path(user), :class => "btn btn-default", :method => :get  %>
      <%= link_to "Delete", manage_user_path(user), :class => "btn btn-danger", :method => :delete , data: { confirm: "Are you sure?" }   %>
</tr>
