<!DOCTYPE html>
<html>
<head>
  <title>Thai Wild Lime - South Yarra</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag controller_name, media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag controller_name %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div id="hmenu">
  <div id="list-menu">

    <table class= "table-menu">
      <tr>
      <th><span style="cursor:pointer"><%= link_to("HOME", root_path) %>  </span></th>
      <th><span style="cursor:pointer"><%= link_to("MENU", menu_index_path) %></span></th>
      <th><span style="cursor:pointer"><%= link_to("GALLERY", gallery_index_path) %></span></th>
      <% if user_signed_in? %>
      <th><span style="cursor:pointer"><%= link_to("FOODS MANAGEMENT", manage_foods_path) %>  </span></th>
      <th><span style="cursor:pointer"><%= link_to("CATEGORIES", categories_path) %>  </span></th>
      <th><span style="cursor:pointer"><%= link_to("USERS MANAGEMENT", manage_users_path)  %>  </span></th>
      <th><span style="cursor:pointer"><%= link_to("LOGOUT", destroy_user_session_path) %>  </span></th>
      <% end %>
      <th><span style="cursor:pointer"><%= link_to("LOGIN", login_path) unless user_signed_in? %>  </span><th>
      </tr>
  </table>

  </div>
</div>
  <div class="bodywrap">
    <%= render partial: "shared/flashes" %>
    <%= yield %>

  </div>
</body>
<footer>
  <div id="footer">
  <address>
  <strong>Thai Wild Lime</strong><br>
  69 Davis Avenue<br>
  South Yarra Victoria, Australia 3141<br>
  <abbr title="Phone">P:</abbr> (+61) 3-9876-6444
</address>
</footer>
</html>
